[Desktop Entry]
Name=Paradox Client
Comment=Modular Minecraft Client and Launcher
Exec=paradox-client
Icon=com.paradoxclient.ParadoxClient
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupWMClass=Paradox Client
Keywords=minecraft;launcher;game;paradox;
